* {
	
	padding: 0;
	margin: 0;

	border: 0;
	
	
}
header {		

	height: 900px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: red;
	

	background-image: url("img.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;5
	background-color: red;
}



#co, h2 {


display: inline-block;

}


h1{

color: #982a2a;


}


p{

color: white;


}



#co:hover{
color: red;

}

#aq{
color: white;

}

#aq:hover {

color:red;
}

h2 {
color: white;
font-size: 1.5rem;


}


#con {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	background-color: #073e40;
	
}


.as{
height: 50px;
display: inline-block;
}
/*
ul{
background-color: yellow;

}
*/

li {

list-style: none;


}
#we{



	text-transform: uppercase;

	text-align: center;
}



button {
	background-color: transparent;
	
	font-size: 1.4rem;
	
	font-weight:100;
	
	cursor: pointer;
	
	margin: 0;
	
	padding: 0;
	
	border: 2px solid white;
}



#oo {

	width: 100%;
	height: 100px;

	  visibility: hidden;


		background-color: green;

}

#bttn:hover{
color: red;

}