

#fa {

display: none;

}




#oo {

	width: 100%;
	height: 150px;

	  visibility: visible;


	/*	background-color: green; */

}


.cc {

border: 3px solid #0341fc;

}



#h, h3 {

display: inline;


}

h3{
color: #d10494;
font-size: 5rem; 
}

ul{
background-color: yellow;

}

#h:hover{
	
	
	color: red;
}


#h:active {


	color: red;


}

li {

padding: 20px;


}



li:hover {

background-color: #04c7d1;

}

 




#we {


height: 400px;
	display: flex;
	justify-content: space-between;

flex-direction: column;

/*	background-color: red; */



	text-transform: uppercase;

	text-align: center;
	
}








header {
	display: flex;
	width: 100%;
	height:1000px;
	flex-direction: column;
	
/*	background-color: transparent; */
}






#h {
	
	height: 50px;
	width: 10%;
	
	color: red;



}

#h:hover{
	
	
	background-color: yellow;
}


